<section>
    <div class="container">
        <hr/>
    </div>
</section>
<header>
    <div class="container">
        <div class="flexbox">
            <div class="left">
                <a href="/" class="logo"><img src="/logo.png" alt="Logo" width="200" height="90"></a>
            </div>
            <div class="right">
                <nav>
                    <a href="#">© 2023</a>
                    <a href="#">↑ Topo</a>
                </nav>
            </div>
        </div>
    </div>
</header>
