<header>
    <div class="container">
        <div class="flexbox">
            <div class="left">
                <a href="/" class="logo"><img src="/images/logo.png" alt="Logo" width="200" height="90"></a>
            </div>
            <div class="right">
                <nav>
                    <a href="/root/guide.html">Guia</a>
                    <a href="/root/community.html">Comunidade</a>
                    <a href="/root/docs.html">Documentacao</a>
                </nav>
            </div>
        </div>
    </div>
</header>
