<div id="community-background">
    <div>
    </div>
</div>

<!--
Bem-vindo à Comunidade Ruby Brasil!

A Comunidade Ruby Brasil é o lugar perfeito para você, entusiasta ou profissional de Ruby, aprimorar suas habilidades, compartilhar conhecimento e se conectar com pessoas que compartilham os mesmos interesses.

## Pratique Ruby Todos os dias

Para começar, curta nosso projeto LizaRB no GitHub e participe do nosso grupo no Telegram!

GitHub: [link]
Telegram: [link]

 -->

<section class="community-item">
    <div class="container">
        <div class="gridbox">
            <div>
                <h1>Bem-vindo à Comunidade Ruby Brasil!</h1>
                <p>A Comunidade Ruby Brasil é o lugar perfeito para você, entusiasta ou profissional de Ruby, aprimorar suas habilidades, compartilhar conhecimento e se conectar com pessoas que compartilham os mesmos interesses.</p>
            </div>
            <div>
                <img src="https://web.archive.org/web/20090829023556im_/http://geocities.com/okitsugu/underconstruction.gif" alt="Community">
            </div>
        </div>
    </div>
</section>



<section class="community-item">
    <div class="container">
        <div>
            <h2>Pratique Ruby Todos os dias</h2>
            <p>Para começar, curta nosso projeto LizaRB no GitHub e participe do nosso grupo no Telegram!</p>
            <p>GitHub: [link] Telegram: [link]</p>
        </div>
    </div>
    <div class="container">
        <div class="gridbox">
            <div>
                <img src="/logo.png" alt="Community">
            </div>
            <div>
                <h2>Com nosso projeto educacional</h2>
                <p>Com nosso projeto educacional, voce vai aprender a fazer testes unitários e performance para o seu codigo, explorando os trade-offs da linguagem Ruby.</p>
                <p>GitHub: [link] Guia de projeto: [link]</p>
            </div>
        </div>
    </div>
</section>




<section class="community-item">
    <div class="container">
        <div>
            <h2>Junte-se ao Grupo!</h2>
            <p>No grupo do Telegram, você encontrará uma comunidade acolhedora e ativa, pronta para ajudá-lo a resolver suas dúvidas, discutir ideias e compartilhar experiências. Aqui estão algumas coisas que você pode perguntar ou obter benefícios ao entrar na comunidade:</p>
        </div>
    </div>
    <div class="container">
        <div class="gridbox">
            <div>
                <ul>
                    <li>Tire dúvidas sobre conceitos e práticas de Ruby.</li>
                    <li>Peça recomendações de cursos, tutoriais e materiais de aprendizagem.</li>
                    <li>Compartilhe suas conquistas e projetos pessoais.</li>
                    <li>Discuta as melhores práticas e tendências no desenvolvimento Ruby e Rails.</li>
                </ul>
            </div>
            <div>
                <img src="https://web.archive.org/web/20090829023556im_/http://geocities.com/okitsugu/underconstruction.gif" alt="Community">
            </div>
        </div>
    </div>
</section>


<section class="community-item">
<!--     
    <div class="container">
        <div>
        </div>
    </div>
-->
    <div class="container">
        <div class="gridbox">
            <div>
                <img src="https://web.archive.org/web/20090829023556im_/http://geocities.com/okitsugu/underconstruction.gif" alt="Community">
            </div>
            <div>
                <h2>Peça Orientação!</h2>
                <ul>
                    <li>Conheça oportunidades de emprego e colaboração em projetos.</li>
                    <li>Obtenha conselhos de profissionais experientes e mentores.</li>
                    <li>Participe dos eventos, meetups e workshops organizados pela comunidade.</li>
                    <li>Aprenda sobre ferramentas e bibliotecas úteis para desenvolvimento Ruby.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div>
            <p>Não perca a chance de fazer parte desta incrível comunidade e começar a aproveitar todos os benefícios que ela oferece. Siga-nos no GitHub e junte-se ao nosso grupo no Telegram agora mesmo!</p>
            <p>GitHub: [link] Telegram: [link]</p>
        </div>
    </div>
</section>


<!-- 

<section class="community-item">
    <div class="container">
        <div>
            <h2>xxx</h2>
            <p>xxxx</p>
            <p>xxxx</p>
        </div>
    </div>
    <div class="container">
        <div class="gridbox">
            <div>
                <h2>xxx</h2>
                <p>xxxx</p>
                <p>xxxx</p>
            </div>
            <div>
                <img src="https://web.archive.org/web/20090829023556im_/http://geocities.com/okitsugu/underconstruction.gif" alt="Community">
                <p>xxxx</p>
            </div>
        </div>
    </div>
</section>
 -->
